.black {
	background-color: black;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
input {
	text-align: center;
}
h2 {
	margin:0;
}